{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SuperHeroes</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper red">
        <ul>
          <li><a href="/" class="left brand-logo">&nbsp;&nbsp;SuperHeroes</a></li>
        </ul>
        <ul class="right">

          <li><a href="{% url 'about' %}">About</a></li>
          {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Log Out</a></li>
            <li><a href="{% url 'superheroes' %}">View All Super Heroes</a></li>
            <li><a href="{% url 'superheroes_create' %}">Add a Super Hero</a></li>
            <li><a href="{% url 'powers_add' %}">Add a Super Power</a></li>
            <li><a href="{% url 'powers_index' %}">View All Powers</a></li>
          {% else %}
          <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Log In</a></li>
          {% endif %}
          
          
          

        </ul>

      </div>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer red">
    <div class="right">All Rights Reserved, &copy; 2019 SuperHeroes &nbsp;</div>
  </footer>
</body>
</html>