{% extends 'base.html' %}
{% block content %}

<h1>Superhero List</h1>



{% for superhero in superheroes %}
<div class="card">
  <a href="{% url 'detail' superhero.id %}">
    <div class="card-content">
      <span class="card-title">{{ superhero.name }}</span>
  </a>
  <p>Power: {{ superhero.power }}</p>
  <p>Description: {{ superhero.description }}</p>
  <p>Age: {{ superhero.age }}</p>

</div>
</div>
{% endfor %}

{% for hero in dictionary %}
<div class="card">
  <div class="card-content">
    <span class="card-title">{{ hero.name }}</span>
    <div class='left'>
      <p>Powerstats</p>
      <li>Strength {{ hero.powerstats.strength }}</li>
      <li>Speed {{ hero.powerstats.speed }}</li>
      <li>Power {{ hero.powerstats.power }}</li>
      <li>Intelligence {{ hero.powerstats.intelligence }}</li>

      <p>Real Name: {{ hero.biography.fullName }}</p>
      <p>Alignment: {{ hero.biography.alignment }}</p>
    </div>
    <div class="">
      <img class="responsive-image" src="{{ hero.images.sm }}">
    </div>
  </div>

</div>
{% endfor %}

{% endblock %}